<p *ngIf="!missionsModified || !missionsModified.length">
  No mission to display ...
</p>
<ng-container *ngIf="missionsModified && missionsModified.length">
  <table>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Type</th>
      <th>Status</th>
      <th class="unfold-more"></th>
    </tr>
    <ng-container *ngFor="let mission of missionsModified">
      <tr #tableRow>
        <td>{{ mission.id }}</td>
        <td>{{ mission.date }}</td>
        <td>{{ mission.type }}</td>
        <td>
          <chip-component
            [blinking]="mission.status.blinking"
            [color]="mission.status.color"
            [showIndicator]="mission.status.blinking"
            >{{ mission.status.label }}
          </chip-component>
        </td>
        <td
          class="unfold-more"
          [style.cursor]="
            ['Requested', 'Rejected'].includes(mission.status.label)
              ? 'not-allowed'
              : 'pointer'
          "
          [attr.rowspan]="mission.isExpanded ? 2 : 1"
          (click)="onExpand(mission, tableRow)"
        >
          <div class="center">
            <icon-component iconName="unfold_more"></icon-component>
          </div>
        </td>
      </tr>
      <tr *ngIf="mission.isExpanded">
        <td colspan="4">
          <div class="center flex-column">
            <div class="drone-list">
              <p>Drones :</p>
              <div>
                <chip-component
                  *ngFor="let drone of mission.drones"
                  [blinking]="false"
                  [color]="drone.color"
                  [showIndicator]="false"
                  >{{ drone.name }}
                </chip-component>
              </div>
            </div>
            <div>Below is the map generated during the exploration</div>
            <div>
              Use directly mouse wheel and drag and drop to adjust the map
            </div>
            <div class="checkbox-list">
              <div>
                <input
                  type="checkbox"
                  name=""
                  [(ngModel)]="mission.showDronesPath"
                />
                Show drones path
              </div>
              <div>
                <input
                  type="checkbox"
                  name=""
                  [(ngModel)]="mission.showBorders"
                />
                Show borders
              </div>
            </div>
            <map-component [mission]="mission"></map-component>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
</ng-container>
