table {

  border-collapse: collapse;
  width: 100%;

  td,
  th {
    border: 1px solid rgba($color: (white), $alpha: 0.1);
    padding: 8px;
  }

  tr:hover {
    background-color: rgba($color: (#202125), $alpha: 0.4);
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #202125;
    color: white;
  }

  .unfold-more {
    width: 2rem;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center.flex-column {
    flex-direction: column;
  }

  .pointer {
    cursor: pointer;
  }

  .drone-list {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem -0.5rem;

    > * {
      margin: 0 0.5rem;
    }
  }

}
