.content {
  width: 100%;
  height: 100%;
}

.main-content-scrollbar {
  width: 100%;
  height: 100%;
  display: block;
}

.common-padding {
  padding: 2rem 5rem;
}

.connection-component-wrapper {
  // position: -webkit-sticky;
  // position: sticky;
  // top: 0rem;
  background-color: #16171b;
  z-index: 1000;
  padding: 2rem 5rem 0 5rem;

  connection-component {
    height: 5rem;
  }
}

section {
  margin-bottom: 3rem;
}

section.drones-section {

  h1 {

    display: flex;
    align-items: center;

    .dot {
      display: inline-block;
      margin: 0 2rem;
      width: 1.25rem;
      height: 1.25rem;
      background-color: grey;
      border-radius: 50%;
    }

    .text-grey {
      color: grey;
    }

  }

  .robots {

    height: auto;

    .robots-cards {

      display: flex;
      margin-bottom: 1rem;

      robot-card-component {
        margin-right: 1rem;
      }

    }

  }

}

section.missions-section {

  .missions-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    > * {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      height: 2.25rem;
    }

    select {
      border-radius: 0.15rem;
      background-color: #16171b;
      border: 2px solid white;
      color: white;
    }

    button {
      background-color: inherit;
      color: white;
      min-height: 100%;
      padding-left: 0.5rem;
      padding-right: 1rem;
      display: flex;
      align-items: center;
      border: 2px solid white;
      border-radius: 9999px;
      outline: none;
      cursor: pointer;
    }
  }

}

.m-top {
  margin-top: 2rem;
}

.m-bottom {
  margin-top: 2rem;
}

.stick {
  top: 0rem;
  position: -webkit-sticky;
  position: sticky;
  background-color: #16171b;
  z-index: 999;
}

.sticky-title {
  display: flex;
  align-items: center;
}
