<div class="content">
  <ngx-simplebar class="main-content-scrollbar" [options]="options">
    <div class="connection-component-wrapper">
      <connection-component></connection-component>
    </div>
    <div class="common-padding">
      <section class="drones-section">
        <div class="sticky-title stick">
          <h1>
            <span>All Drones</span>
            <span class="dot"></span>
            <span class="text-grey">{{ robotService.robots.length }}</span>
          </h1>
        </div>
        <div>
          <div class="robots">
            <ng-container *ngIf="robotService.robots.length">
              <ngx-simplebar [options]="options">
                <div class="robots-cards">
                  <robot-card-component
                    [data]="robot"
                    *ngFor="let robot of robotService.robots"
                    (land)="onLandRobot(robot)"
                    (takeOff)="onTakeOffRobot(robot)"
                    (lighten)="onLightenRobot(robot)"
                    (darken)="onDarkenRobot(robot)"
                    (returnToBase)="onReturnToBaseRobot(robot)"
                  ></robot-card-component>
                </div>
              </ngx-simplebar>
            </ng-container>
            <p *ngIf="!robotService.robots.length">No robot to display.</p>
          </div>
        </div>
      </section>
      <section class="missions-section">
        <div class="missions-title sticky-title stick">
          <h1>Missions</h1>
        </div>
        <div class="missions">
          <div *ngIf="!missionsService.activeMission" class="start-new">
            <select (change)="onSelect(select.value)" #select>
              <option
                *ngFor="let option of missionsTypeOptions"
                [value]="option.value"
                [attr.selected]="missionType == option.value"
              >
                {{option.label}}
              </option>
            </select>
            <ng-container *ngIf="missionType == 'crazyradio'">
              <div *ngFor="let drone of robots" class="drone-initial-pos">
                <div class="input-group">
                  <input type="number" placeholder="x" [(ngModel)]="drone.pos.x" step="0.05">
                  <input type="number" placeholder="y" [(ngModel)]="drone.pos.y" step="0.05">
                </div>
                <div>{{drone.name}}</div>
              </div>
            </ng-container>
            <button class="icon-button" (click)="onStartMission()">
              <icon-component iconName="add"></icon-component>
              <span>Start new</span>
            </button>
          </div>
          <h3 class="m-top">Active missions</h3>
          <ng-container *ngIf="missionsService.activeMission">
            <div class="button-group">
              <button class="icon-button" (click)="onReturnToBase()">
                <icon-component
                  iconName="settings_input_antenna"
                ></icon-component>
                <span>Return to base</span>
              </button>
              <button class="icon-button" (click)="onCancelMission()">
                <icon-component iconName="close"></icon-component>
                <span>Cancel mission</span>
              </button>
            </div>
          </ng-container>
          <missions-history
            [missions]="missionsService.activeMission? [missionsService.activeMission]:[]"
            [expandByDefault]="true"
          ></missions-history>
          <h3 class="m-top">Previous missions</h3>
          <missions-history
            [missions]="missionsService.previousMissions"
          ></missions-history>
        </div>
      </section>
    </div>
  </ngx-simplebar>
</div>
