<div class="content">
  <ngx-simplebar class="main-content-scrollbar" [options]="options">
    <div class="connection-component-wrapper">
      <connection-component></connection-component>
    </div>
    <div class="common-padding">
      <section class="drones-section">
        <div class="sticky-title stick">
          <h1>
            <span>All Drones</span>
            <span class="dot"></span>
            <span class="text-grey">{{ robotService.robots.length }}</span>
          </h1>
        </div>
        <div>
          <div class="robots">
            <ng-container *ngIf="robotService.robots.length">
              <p>Info: You can takeoff/land the robot using power button.</p>
              <ngx-simplebar [options]="options">
                <div class="robots-cards">
                  <robot-card-component
                    [data]="robot"
                    *ngFor="let robot of robotService.robots"
                    (land)="onLandRobot(robot)"
                    (takeOff)="onTakeOffRobot(robot)"
                    (lighten)="onLightenRobot(robot)"
                    (darken)="onDarkenRobot(robot)"
                  ></robot-card-component>
                </div>
              </ngx-simplebar>
            </ng-container>
            <p *ngIf="!robotService.robots.length">No robot to display.</p>
          </div>
        </div>
      </section>
      <section class="missions-section">
        <div class="missions-title sticky-title stick">
          <h1>Missions</h1>
          <button (click)="onStartMission()">
            <icon-component iconName="add"></icon-component>
            <span>New mission</span>
          </button>
        </div>
        <div class="missions">
          <h3 class="m-top">Active missions</h3>
          <p>No active mission to display ...</p>
          <h3 class="m-top">Previous missions</h3>
          <p>Coming soon in the CDR !!!!</p>
        </div>
      </section>
    </div>
  </ngx-simplebar>
</div>
