<div class="content">
  <ngx-simplebar class="main-content-scrollbar" [options]="options">
    <div class="connection-component-wrapper">
      <connection-component></connection-component>
    </div>
    <div class="common-padding">
      <section class="drones-section">
        <div class="sticky-title stick">
          <h1>
            <span>All Drones</span>
            <span class="dot"></span>
            <span class="text-grey">{{ robotService.robots.length }}</span>
          </h1>
        </div>
        <div>
          <div class="robots">
            <ng-container *ngIf="robotService.robots.length">
              <p>Info: You can takeoff/land the robot using power button.</p>
              <ngx-simplebar [options]="options">
                <div class="robots-cards">
                  <robot-card-component [data]="robot" *ngFor="let robot of robotService.robots"
                    (land)="onLandRobot(robot)" (takeOff)="onTakeOffRobot(robot)" (lighten)="onLightenRobot(robot)"
                    (darken)="onDarkenRobot(robot)"></robot-card-component>
                </div>
              </ngx-simplebar>
            </ng-container>
            <p *ngIf="!robotService.robots.length">No robot to display.</p>
          </div>
        </div>
      </section>
      <section class="missions-section">
        <div class="missions-title sticky-title stick">
          <h1>Missions</h1>
          <ng-container *ngIf="!activeMission">
            <select (change)="missionType = select.value" #select>
              <option *ngFor="let option of missionsTypeOptions" [value]="option.value"
                [attr.selected]="missionType == option.value">
                {{option.label}}</option>
            </select>
            <button (click)="onStartMission()">
              <icon-component iconName="add"></icon-component>
              <span>Start new</span>
            </button>
          </ng-container>
        </div>
        <div class="missions">
          <h3 class="m-top">Active missions</h3>
          <missions-history [missions]="activeMission? [activeMission]:[]"></missions-history>
          <h3 class="m-top">Previous missions</h3>
          <missions-history [missions]="previousMissions"></missions-history>
        </div>
      </section>
    </div>
  </ngx-simplebar>
</div>
