.content {
  width: 100%;
  height: 100%;
}

.main-content-scrollbar {

  width: 100%;
  height: 100%;
  display: block;

}

.connection-component-wrapper {
  padding: 2rem 5rem 1rem 5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #16171b;
  z-index: 1000;

  connection-component {
    height: 5rem;
  }
}

section {
  margin-bottom: 3rem;
}

section.drones-section {

  h1 {

    display: flex;
    align-items: center;

    .dot {
      display: inline-block;
      margin: 0 2rem;
      width: 1.25rem;
      height: 1.25rem;
      background-color: grey;
      border-radius: 50%;
    }

    .text-grey {
      color: grey;
    }

  }

  .robots {

    height: auto;

    .robots-cards {

      display: flex;
      margin-bottom: 1rem;

      robot-card-component {
        margin-right: 1rem;
      }

    }

  }

}

section.missions-section {

  .missions-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      margin-left: 2rem;
      background-color: inherit;
      color: white;
      padding: 0.5rem 1rem;
      height: min-content;
      display: flex;
      align-items: center;
      border: 2px solid white;
      border-radius: 9999px;
    }
  }

}

.m-top {
  margin-top: 2rem;
}

.m-bottom {
  margin-top: 2rem;
}

.stick {
  top: 9.5rem;
  position: -webkit-sticky;
  position: sticky;
  background-color: #16171b;
  z-index: 999;
}

.sticky-title {
  display: flex;
  align-items: center;
}

.common-padding {
  padding: 0% 5rem;
}
