:host {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #202125;
  box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.25);
  padding: 0 3rem;
}

chip-component {
  margin: 1rem 0 1rem 1rem;
}

