.content {
  width: 100%;
  height: 100%;
}

.main-content-scrollbar {
  width: 100%;
  height: 100%;
  display: block;
}

.common-padding {
  padding: 2rem 5rem;
}

.connection-component-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  background-color: #16171b;
  z-index: 1000;
  padding: 2rem 5rem 0 5rem;

  connection-component {
    height: 5rem;
  }
}

section {
  margin-bottom: 3rem;
}

.m-top {
  margin-top: 2rem;
}

.m-bottom {
  margin-top: 2rem;
}

.stick {
  top: 7rem;
  position: -webkit-sticky;
  position: sticky;
  background-color: #16171b;
  z-index: 999;
}

.sticky-title {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  margin: 0 -0.5rem;

  > * {
    margin: 0 0.5rem;
  }
}

select {
  border-radius: 0.15rem;
  background-color: #16171b;
  border: 2px solid white;
  color: white;
  width: max-content;
  outline: none;
  height: calc(2.25rem - 2px);
}

button.big {
  height: 2.25rem;
}

.editor-container {
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}

.text-success {
  color: #01b075;
}

.text-error {
  color: #dd0000;
}

.text-info {
  color: #87ceeb;
}

button {
  border: 1px solid #4a4b52;
  border-radius: 0.25rem;
  color: white;
  padding: 0.25rem 0.5rem;
  outline: none;
  cursor: pointer;
}
button.button-neutral {
  background-color: #4a4b52;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button.button-success {
  background-color: #01b075;
}

.log {
  padding: 0.25rem 0rem;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
}
