/* You can add global styles to this file, and also import other style files */
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material-ocean';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #16171b;
  color: white;
  font-family: 'Audiowide', cursive, sans-serif;
}

button {
  font: inherit;
}

// .simplebar-content {
// }

// .simplebar-scroll-content {

// }

.simplebar-scrollbar {
  // margin-right: 0.5rem;
}

.simplebar-track.simplebar-vertical {
  width: 0.75rem !important;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  // margin-bottom: 0.15rem;
  height: 1rem !important;
}

.simplebar-scrollbar:before{
  background: unset !important;
}

.simplebar-track {
  background-color: #000000;
}

.simplebar-visible {
  background-color: #808080;
}

.CodeMirror {
  height: auto;
  // background-color: #4a4b52 !important;
}
