<div class="robot-card">
  <div class="robot-card-preview">
    <div class="util-buttons">
      <div
        class="util-button"
        tabindex="0"
        title="Click to send land command."
        (click)="onLand()"
      >
        <icon-component iconName="flight_land"></icon-component>
      </div>
      <div
        class="util-button"
        tabindex="0"
        title="Click to send take off command."
        (click)="onTakeOff()"
      >
        <icon-component
          iconName="flight_takeoff"
          class="power-on"
        ></icon-component>
      </div>
      <div
        class="util-button"
        tabindex="0"
        title="Click to send return to base command."
        (click)="onReturnToBase()"
      >
        <icon-component
          iconName="settings_input_antenna"
          class="antenna"
        ></icon-component>
      </div>
      <!-- <div
        class="util-button"
        tabindex="0"
        [attr.title]="
          data.ledOn
            ? 'Light are on. Click to turn off.'
            : 'Light are off. Click to make turn on.'
        "
        (click)="onLedClick()"
      >
        <icon-component
          iconName="lightbulb"
          [class.power-on]="data.ledOn"
        ></icon-component>
      </div> -->
    </div>
    <div class="state-indicator" *ngIf="data.hasOwnProperty('state')">
      <chip-component
        color="#DD0000"
        blinking="true"
        *ngIf="data.state === 'onTheGround'"
      >
        On The Ground
      </chip-component>
      <chip-component
        color="#87ceeb"
        [blinking]="true"
        *ngIf="data.state === 'takingOff'"
      >
        Taking Off
      </chip-component>
      <chip-component
        color="#87ceeb"
        [blinking]="true"
        *ngIf="data.state === 'landing'"
      >
        Landing
      </chip-component>
      <chip-component
        color="#DD0000"
        [blinking]="false"
        *ngIf="data.state === 'crashed'"
      >
        Crashed
      </chip-component>
      <chip-component
        color="#01b075"
        [blinking]="true"
        *ngIf="data.state === 'exploring'"
      >
        Exploring
      </chip-component>
      <chip-component
        color="#01b075"
        [blinking]="true"
        *ngIf="data.state === 'returningToBase'"
      >
        Returning To Base
      </chip-component>
    </div>

    <img src="/assets/crazyfly.png" alt="" srcset="" />
  </div>
  <div class="robot-card-description">
    <div class="title">
      <h3 [attr.title]="data.name">{{ data.name }}</h3>
      <h3>Bitcraze Crazyflie 2.0</h3>
    </div>
    <div
      class="robot-card-description-row"
      *ngIf="data.hasOwnProperty('speed')"
    >
      <div class="icon-and-text">
        <icon-component iconName="speed"></icon-component>
        <span>Speed</span>
      </div>
      <div class="value text-success">{{ data.speed.toFixed(2) }} km/h</div>
    </div>
    <div class="robot-card-description-row">
      <div class="icon-and-text">
        <icon-component iconName="battery_full"></icon-component>
        <span>Battery</span>
      </div>
      <div
        class="value text-success"
        *ngIf="data.hasOwnProperty('battery') && data.battery > 30"
      >
        {{ data.battery.toFixed(1) }} %
      </div>
      <div
        class="value text-error"
        *ngIf="data.hasOwnProperty('battery') && data.battery <= 30"
      >
        {{ data.battery.toFixed(1) }} %
      </div>
      <div class="value text-error" *ngIf="!data.hasOwnProperty('battery')">
        N/A
      </div>
    </div>
    <div class="robot-card-description-row" *ngIf="data.hasOwnProperty('yaw')">
      <div class="icon-and-text">
        <icon-component iconName="angle"></icon-component>
        <span>Angle</span>
      </div>
      <div class="value text-success">
        {{ (((data.yaw * 180) / pi) % 360).toFixed(0) }} deg
      </div>
    </div>
    <div
      class="robot-card-description-row"
      *ngIf="data.hasOwnProperty('position')"
    >
      <div class="icon-and-value">
        <icon-component iconName="near_me"></icon-component>
        <div class="value text-success position">
          <span
            >X:
            <span class="text-success">{{
              data.position[0].toFixed(2)
            }}</span></span
          >
          <span
            >Y:
            <span class="text-success">{{
              data.position[1].toFixed(2)
            }}</span></span
          >
          <span
            >Z:
            <span class="text-success">{{
              data.position[2].toFixed(2)
            }}</span></span
          >
        </div>
      </div>
    </div>
    <div
      class="robot-card-description-row"
      *ngIf="data.hasOwnProperty('ranges')"
    >
      <div class="icon-and-value">
        <icon-component iconName="sensors"></icon-component>
        <div class="value text-success sensors">
          <span
            >F:
            <span class="text-success">{{
              data.ranges[0].toFixed(2)
            }}</span></span
          >
          <span
            >L:
            <span class="text-success">{{
              data.ranges[1].toFixed(2)
            }}</span></span
          >
          <span
            >B:
            <span class="text-success">{{
              data.ranges[2].toFixed(2)
            }}</span></span
          >
          <span
            >R:
            <span class="text-success">{{
              data.ranges[3].toFixed(2)
            }}</span></span
          >
        </div>
      </div>
    </div>

    <div class="robot-card-description-row">
      <div class="icon-and-text">
        <icon-component iconName="update"></icon-component>
        <span class="text-info">Updated {{ humanizedDate }}</span>
      </div>
    </div>
  </div>
</div>
