.robot-card {

  width: 22rem;
  border: 5px solid #4a4b52;
  box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;

  &-preview {
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .util-buttons {
      position: absolute;
      top: 1rem;
      right: 1rem;

      cursor: pointer;
      display: flex;
      flex-direction: column;
      margin: -0.25rem 0;

      .util-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.25rem 0;
        background-color: #4a4b52;
        border-radius: 100%;
        width: 3rem;
        height: 3rem;

        icon-component ::ng-deep svg {
          fill: #dd0000;
        }
      }
    }

    icon-component.power-on {
      ::ng-deep svg {
        fill: #01b075 !important;
      }
    }

    img {
      height: 100%;
    }
  }

  &-description {
    padding: 1rem;
    background-color: #4a4b52;
    display: grid;
    grid-template-columns: auto;
    row-gap: 0.5rem;

    > * {
      min-width: 0;
    }

    h3 {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon-and-text {
        display: grid;
        grid-template-columns: 2rem auto;
        align-items: center;
        column-gap: 1rem;
      }

      .icon-and-value {
        display: grid;
        grid-template-columns: 2rem auto;
        width: 100%;
        align-items: center;
        column-gap: 1rem;
      }

      .position {
        display: flex;
        justify-content:space-between;
        align-items: center;
      }

      .sensors {
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        margin: 0 -0.5rem;

        > * {
          margin: 0 0.5rem;
        }
      }

      .col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0.5rem;

        > * {
          min-width: 0;
        }
      }

      .text-success {
        color: #01b075;
      }

      .text-error {
        color: #dd0000;
      }

      .text-info {
        color: #87ceeb;
      }

    }

  }

}
