<div class="robot-card">
  <div class="robot-card-preview">
    <div
      class="power-button"
      tabindex="0"
      mat-button
      [attr.title]="
        data.flying
          ? 'Drone is flying. Click to make it land.'
          : 'Drone is not flying. Click to make it fly.'
      "
      (click)="onClick()"
    >
      <mat-icon [class.power-on]="data.flying">power_settings_new</mat-icon>
    </div>
    <img src="/assets/crazyfly.png" alt="" srcset="" />
  </div>
  <div class="robot-card-description">
    <div class="title">
      <h3 [attr.title]="data.name">{{ data.name }}</h3>
      <h3>Bitcraze Crazyflie 2.0</h3>
    </div>
    <div class="robot-card-description-row">
      <div class="icon-and-text">
        <mat-icon>speed</mat-icon>
        <span>Speed</span>
      </div>
      <div class="value text-success">{{ data.speed.toFixed(2) }} km/h</div>
    </div>
    <div class="robot-card-description-row">
      <div class="icon-and-text">
        <mat-icon>battery_full</mat-icon>
        <span>Battery</span>
      </div>
      <div class="value text-success" *ngIf="data.battery && data.battery > 30">
        {{ (data.battery * 100).toFixed(1) }} %
      </div>
      <div class="value text-error" *ngIf="data.battery && data.battery <= 30">
        {{ (data.battery * 100).toFixed(1) }} %
      </div>
      <div class="value text-error" *ngIf="!data.battery">N/A</div>
    </div>
    <div class="robot-card-description-row">
      <div class="icon-and-value">
        <mat-icon>near_me</mat-icon>
        <div class="value text-success position" *ngIf="data.position">
          <span>x: <span class="text-success">{{ data.position[0].toFixed(2) }}</span></span>
          <span>y: <span class="text-success">{{ data.position[1].toFixed(2) }}</span></span>
          <span>z: <span class="text-success">{{ data.position[1].toFixed(2) }}</span></span>
        </div>
        <div class="value text-error position" *ngIf="!data.position">
          <span>x: <span class="text-error">N/A</span></span>
          <span>y: <span class="text-error">N/A</span></span>
          <span>z: <span class="text-error">N/A</span></span>
        </div>
      </div>
    </div>
    <div class="robot-card-description-row">
      <div class="icon-and-text">
        <mat-icon>update</mat-icon>
        <span class="text-info">Updated {{ humanizedDate }}</span>
      </div>
    </div>
  </div>
</div>
