<div class="side-panel">
  <div class="side-panel-header">
    <img src="/assets/crazyfly.png" alt="" srcset="" />
  </div>
  <div class="side-panel-menus">
    <button class="side-pannel-menu-option" [class.active]="router.url === '/home'" routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
    <button class="side-pannel-menu-option" [class.active]="router.url === '/about'" routerLink="/about">
      <mat-icon>info</mat-icon>
    </button>
  </div>
</div>

<div class="router-outlet-wrapper">
  <router-outlet></router-outlet>
</div>
