<div class="side-panel">
  <div class="side-panel-header">
    <img src="/assets/crazyfly.png" alt="" srcset="" />
  </div>
  <div class="side-panel-menus">
    <button class="side-pannel-menu-option" [class.active]="router.url === '/home'" routerLink="/home">
      <icon-component iconName="home"></icon-component>
    </button>
    <button class="side-pannel-menu-option" [class.active]="router.url === '/code'" routerLink="/code">
      <icon-component iconName="code"></icon-component>
    </button>
    <button class="side-pannel-menu-option" [class.active]="router.url === '/about'" routerLink="/about">
      <icon-component iconName="info"></icon-component>
    </button>
  </div>
</div>

<div class="router-outlet-wrapper">
  <router-outlet></router-outlet>
</div>
