@import '~@angular/material/theming';

:host {

  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 5rem auto;
  overflow: hidden;

  > * {
    min-width: 0;
    min-height: 0;
  }

}

.side-panel {

  background-color: #202125;
  display: flex;
  flex-direction: column;
  align-items: center;

  .side-panel-header {

    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    padding: 1.5rem 0;

    img {
      width: 100%;
      height: 100%;
    }

  }

  .side-panel-menus {
    display: flex;
    flex-direction: column;
    width: 100%;

    button.side-pannel-menu-option {
      background-color: inherit;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border: none;
      // border-radius: 0.25rem;
      text-align: left;
      width: 100%;
      cursor: pointer;
    }

    button.side-pannel-menu-option.active {
      background-color: #01b075;
      position: relative;
      outline: none;
    }

    button.side-pannel-menu-option.active::after {
      content: "";
      width: 0.40rem;
      background-color:  #01b075;
      top: 0;
      left: 100%;
      bottom: 0;
      display: block;
      position: absolute;
      z-index: 1;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

  }

}

.router-outlet-wrapper {
  width: 100%;
  height: 100%;
}
